In [17]:
import pandas as pd

In [18]:
pl = pd.read_csv('../data_raw/Premeier_League_possession_2023_2024.csv')

In [19]:
pl

,Team,Date,Venue,Opponent,Result,GF,GA,Poss
0,Arsenal,2023-08-12,Home,Nott'ham Forest,W,2,1,78.0
1,Arsenal,2023-08-21,Away,Crystal Palace,W,1,0,53.0
2,Arsenal,2023-08-26,Home,Fulham,D,2,2,71.0
3,Arsenal,2023-09-03,Home,Manchester Utd,W,3,1,55.0
4,Arsenal,2023-09-17,Away,Everton,W,1,0,74.0
...,...,...,...,...,...,...,...,...
755,Wolverhampton Wanderers,2024-04-24,Home,Bournemouth,L,0,1,63.0
756,Wolverhampton Wanderers,2024-04-27,Home,Luton Town,W,2,1,58.0
757,Wolverhampton Wanderers,2024-05-04,Away,Manchester City,L,1,5,42.0
758,Wolverhampton Wanderers,2024-05-11,Home,Crystal Palace,L,1,3,62.0
759,Wolverhampton Wanderers,2024-05-19,Away,Liverpool,L,0,2,33.0

In [20]:
ll = pd.read_csv('../data_raw\La_Liga_possession_2023_2024.csv')

<>:1: SyntaxWarning: invalid escape sequence '\L'
<>:1: SyntaxWarning: invalid escape sequence '\L'
C:\Users\Bola_Gerges\AppData\Local\Temp\ipykernel_20864\1798692929.py:1: SyntaxWarning: invalid escape sequence '\L'
  ll = pd.read_csv('../data_raw\La_Liga_possession_2023_2024.csv')

In [21]:
ll

           Team        Date Venue        Opponent Result  GF  GA  Poss
0        Alavés  2023-08-14  Away           Cádiz      L   0   1  55.0
1        Alavés  2023-08-21  Home         Sevilla      W   4   3  34.0
2        Alavés  2023-08-28  Away          Getafe      L   0   1  53.0
3        Alavés  2023-09-02  Home        Valencia      W   1   0  40.0
4        Alavés  2023-09-15  Away  Rayo Vallecano      L   0   2  49.0
..          ...         ...   ...             ...    ...  ..  ..   ...
755  Villarreal  2024-05-05  Away      Celta Vigo      L   2   3  47.0
756  Villarreal  2024-05-11  Home         Sevilla      W   3   2  59.0
757  Villarreal  2024-05-14  Away          Girona      W   1   0  33.0
758  Villarreal  2024-05-19  Home     Real Madrid      D   4   4  43.0
759  Villarreal  2024-05-25  Away         Osasuna      D   1   1  57.0

[760 rows x 8 columns]

In [22]:
df= pd.concat([pl,ll])

In [23]:
df

           Team        Date Venue         Opponent Result  GF  GA  Poss
0       Arsenal  2023-08-12  Home  Nott'ham Forest      W   2   1  78.0
1       Arsenal  2023-08-21  Away   Crystal Palace      W   1   0  53.0
2       Arsenal  2023-08-26  Home           Fulham      D   2   2  71.0
3       Arsenal  2023-09-03  Home   Manchester Utd      W   3   1  55.0
4       Arsenal  2023-09-17  Away          Everton      W   1   0  74.0
..          ...         ...   ...              ...    ...  ..  ..   ...
755  Villarreal  2024-05-05  Away       Celta Vigo      L   2   3  47.0
756  Villarreal  2024-05-11  Home          Sevilla      W   3   2  59.0
757  Villarreal  2024-05-14  Away           Girona      W   1   0  33.0
758  Villarreal  2024-05-19  Home      Real Madrid      D   4   4  43.0
759  Villarreal  2024-05-25  Away          Osasuna      D   1   1  57.0

[1520 rows x 8 columns]

In [24]:
df.to_csv("../data_raw/PL_LaLiga_possession_2023_2024.csv", index=False)